body {
  padding: 0;
  font-family:"Times New Roman", sans-serif;
  font-weight: 900;
  font-size: 105%;
  background-size: cover;
  animation-name: background-image-rotate;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-attachment: fixed;
}

#top-box {
  display: flex;
  background-color: black;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
  height:5%;
  
}
nav {
  top: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
}
.top-each-box {
  text-align: center;
  width: 7%;
  border-radius: 20px;
  transform: translate(0, 50%);
  height: 50%;

}
.top-each-box:hover {
  background-color: crimson;
} 
h1 {
  text-align: center;
}
img {
  margin: auto auto;
  justify-content: center;
  display:block; 
}
a {color:white;}
a:link {text-decoration: none;}