html {overflow-x: hidden}
body {
  font-weight: 900;
  overflow-y: scroll;
  background-size: cover;
  animation:background-image-rotate 15s linear 0s infinite alternate;
  background-attachment: fixed;
}

#top-box {
  display: flex;
  background-color: black;
  flex-direction: row;
  justify-content: space-evenly;
  height:5%;
}
nav {
  top: 0;
  z-index: 10;
  left: 0;
  position: fixed;
  width: 100%;
}
.top-each-box {
  text-align: center;
  width: 7%;
  border-radius: 20px;
  transform: translate(0, 50%);
  height: 50%;

}
.top-each-box:hover {background-color: crimson}
h1 {text-align: center}
img {
  margin:0 auto;
  width: 70%;
  height: 70%;
}
a {color:white}
a:link {text-decoration: none}

#main-text {
  width: 100vw;
  height: auto;
  margin: 0 auto;
  text-align:center;
  color: white;
  top: 25%;
  overflow-x:hidden;
}