body {
  padding: 0;
  font-family:"Times New Roman", sans-serif;
  font-weight: 900;
  overflow-x:hidden;
  overflow-y: scroll;
  font-size: 105%;
  background-size: cover;
  animation-name: background-image-rotate;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-attachment: fixed;  
}

#top-box {
  display: flex;
  background-color: black;
  flex-direction: row;
  justify-content: space-evenly;
  height:5%;
}
nav {
  top: 0;
  z-index: 9999;
  left: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
}
.top-each-box {
  text-align: center;
  width: 7%;
  border-radius: 20px;
  transform: translate(0, 50%);
  height: 50%;

}
.top-each-box:hover {
  background-color: crimson;
} 
h1 {
  text-align: center;
}
img {
  margin:0 auto;
  justify-content: center;
  display:block;
  width: 80%;
  height: 80%;
}
a {color:white;}
a:link {text-decoration: none;}

#main-text {
  width: 100vw;
  margin: 0 auto;
  text-align:center;
  color: white;
  top: 25%;
  position: fixed;
}